[submodule "vendor/nnheaders"]
	path = vendor/nnheaders
	url = https://github.com/Anto726/nnheaders
[submodule "vendor/sead"]
	path = vendor/sead
	url = https://github.com/Anto726/sead
[submodule "vendor/nw4c"]
	path = vendor/nw4c
	url = https://github.com/Anto726/nw4c
[submodule "vendor/lms"]
	path = vendor/lms
	url = https://github.com/Anto726/LibMessageStudio.git
